<%#
Authors: Jeff Cox, David Zhang
Copyright Syracuse University
%>

<h1>New folder</h1>

<%= form_for([@parent, @folder]) do |f| %>
  <% if @folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@folder.errors.count, "error") %> prohibited this folder from being saved:</h2>

      <ul>
      <% @folder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<!--no longer needed; this is the select field for tasks, which we want to hide so it defaults to nil task-->
	<%#= f.label :task_id %>
	<%#= collection_select :folder, :task_id, Task.all, :id, :name, { :prompt => "No task" } %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

