<h1>Listing factors</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @factors.each do |factor| %>
  <tr>
    <td><%= factor.name %></td>
    <td><%= link_to 'Show', factor %></td>
    <td><%= link_to 'Edit', edit_factor_path(factor) %></td>
    <td><%= link_to 'Destroy', factor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Factor', new_factor_path %>
