<%#
Authors: Jeff Cox, David Zhang
Copyright Syracuse University
%>
<!--This is what you see when you double-click on a document-->
<%= div_for @document do %>
  <h1>
  	<%= image_tag(@document.icon_path, :class => "main-icon") %><input data-in-place-edit="true" id="document_name" name="document[name]" size="30" type="text" value="<%= @document.name %>" />
	</h1>
  <div class="info">
		<!--Basic information-->
    <div class="basic-info">
      <% unless @document.description.blank? %>
      <p class="description"><%= @document.description %></p>
      <% end %>
      <ul class="metadata">
      <li>Task: <%= @document.task || "(none)" %>
      <li>Stage: <%= @document.stage || "(none)" %>
      <li>Factor: <%= @document.factor || "(none)" %>
      <li>Actors: [to be implemented]</li>
      </ul>
    </div>
		<!--Dependencies-->
		<table>
			<caption>Dependencies</caption>
	      <tr>
	        <th>Type</th>
	        <th>Target</th>
				</tr>
		  <% @document.upstream_dependencies.each do |dep| %>
	      <tr>
	        <td>From</td>
	        <td><%= dep.upstream_item.name %></td>
					<td><%= link_to "X", dep, :method=>:delete, :remote => true, :class=>'x_button' %></td>
	      </tr>
	    <% end %>
	    <% @document.downstream_dependencies.each do |dep| %>
	      <tr>
	        <td>To</td>
	        <td><%= dep.downstream_item.name %></td>
					<td><%= link_to "X", dep, :method=>:delete, :remote => true, :class=>'x_button' %></td>
	      </tr>
	    <% end %>
		</table>
	
		<!--Versions-->
    <table class="versions">
      <caption>All versions:</caption>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Author</th>
        <th>Created on</th>
			</tr>
    <% @document.versions.each do |version| %>
      <tr>
        <td><%= image_tag version.icon_path, :size => '15x15' %></td>
        <td><%= link_to version.name, version %></td>
        <td>[author]</td>
        <td><%= version.created_at.to_s(:long) %></td>
      </tr>
    <% end %>
    </table>
  </div>
	
	<!--Buttons-->
  <div class="actions">
    <%= link_to("Download", @document.latest_version, :class => 'btn') %>
    <%= link_to("Update", new_document_version_path(@document), :class => 'btn') %>
    <%= link_to("Delete", @document, :confirm => 'Are you sure?', :method => :delete, :class => 'btn') %>
    <h2>Status:</h2>
    <ul class="radio">
      <% Document::STATUSES.each do |status| %>
        <li>
          <%= label_tag("document_status_#{status}", radio_button(:document, :status, status, "data-in-place-edit" => true) + status.humanize()) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<script type="text/javascript">
$(".x_button").click(function() {
	$(this).css('display','none');
	alert('Dependency removed');
});
</script>