<%#
Authors: Jeff Cox, David Zhang
Copyright Syracuse University
%>

<p id="notice"><%= notice %></p>

<p>
  <b>Document:</b>
  <%= @version.document %>
</p>

<p>
  <b>External url:</b>
  <%= @version.external_url %>
</p>

<p>
  <b>File:</b>
  <%= @version.file %>
</p>


<%= link_to 'Edit', edit_version_path(@version) %> |
<%= link_to 'Back', versions_path %>
