<%#
Authors: Jeff Cox, David Zhang
Copyright Syracuse University
%>

<!DOCTYPE html>
<html>
<head>
	<title>VdsPip</title>
	<%= stylesheet_link_tag :all, :recursive => true %>
	<%= javascript_include_tag "lib/jquery-1.7.2.min","lib/jquery-ui-1.8.22.custom.min","tokeninput/jquery.tokeninput","tokeninput/jquery_token_input" %>
	<!--include coffee files-->
	<%= javascript_include_tag "coffee/global", "coffee/misc/dialog", "coffee/classes/private/drawing",
	"coffee/classes/helper", "coffee/classes/folder", "coffee/classes/document" %>
	<%= csrf_meta_tag %>
</head>
<body>
	<% if flash[:notice] %>
	<div id="flashes">
		<%= flash[:notice] %>
	</div>
	<% end %>

	<% if logged_in? %>
	<div>
		Logged in as <%= link_to current_user.email, [:edit, current_user] %> (<%= current_user.role %>)
	</div>
	<% end %>

	<%= yield %>

	<!--link stopped working... <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/1.5.2/raphael-min.js"></script>-->
	<script src="/javascripts/lib/raphael-min.js"></script>
	
	<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.1.7/underscore-min.js"></script>-->
	<script src="/javascripts/lib/underscore-min.js"></script>
	
	<script src="/javascripts/lib/slang.js"></script>
	<script src="/javascripts/lib/keymaster.min.js"></script>
	<script src="/javascripts/lib/jquery_ujs.js"></script> 
	
	<script src="/javascripts/arrow_drawer.js"></script> 
	<script src="/javascripts/constants.js"></script> 
	<script src="/javascripts/dependency_drawer.js"></script> 
	<!--<script src="/javascripts/drawing.js"></script> -->
	<script src="/javascripts/in_place.js"></script> 
	<script src="/javascripts/item_drawer.js"></script> 
	
	<script src="/javascripts/lib/jquery-simpleTreeMenu-1.1.0.js"></script> 
	<script src="/javascripts/lib/jquery.colorbox.js"></script> 
	
	<script src="/javascripts/model.js"></script> 
	<script src="/javascripts/pip.js"></script> 
	<script src="/javascripts/project_drawer.js"></script> 
	<script src="/javascripts/utils.js"></script> 
	<script src="/javascripts/indexer.js"></script>
	<script src="/javascripts/routes.js"></script>
	
	<script src="/javascripts/controls/toggle_actions.js"></script>
	
	<script src="/javascripts/application.js"></script>

	<script>
	Pip.initModules();
	</script>
</body>
</html>
